.button-submit{
    background-image: linear-gradient(to right, #4ec88f
    , #106e20);
    width: 80%;
    height: 40px;
    border-radius: 10px;
    color: #fff;
}

.img{
    border-radius: 100px;
    height: 300px;
    width: 300px;
    box-shadow: 0 4px 5px 0px  rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


ion-content{
    --background:linear-gradient(to bottom, #42a1ee, #60608b, #ffffff);
  
  }

  .div-btm{
    background: #ffffff;
    border-radius:  28px 28px 0 0;
    box-shadow: 0 4px 8px 8px  rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 100%;
  }
